body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100% !important;
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
  display: flex !important;
  flex-direction: column !important;
}
